# Limit each DOS detection rule to fire at most once per 60s per source IP
threshold gen_id 1, sig_id 9000001, type limit, track by_src, count 1, seconds 60
threshold gen_id 1, sig_id 9000002, type limit, track by_src, count 1, seconds 60
threshold gen_id 1, sig_id 9000003, type limit, track by_src, count 1, seconds 60
